<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EasyEssay</title>
    <link rel="icon" type="image/svg+xml" href="images/favicon.png" />
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/bootstrap-icons.css">
    <link rel="stylesheet" href="stylesheets/signup.css">
</head>
<body>

<div class="register-page bg-light">
    <div class="container">
        <div class="row">
            <div class="register-form">
                <div class="title"><img class="mb-3 title-img" src="images/brand.png"></img></div>
                <div class="bg-white shadow rounded">
                    <div class="row">
                        <div class="pe-0">
                            <div class="form-left h-100 py-5 px-5">
                                <div class="row g-4">
                                    <div class="col-12">
                                        <label>Email Address<span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
                                            <input type="text" class="form-control" placeholder="Enter Email Address">
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label>Password<span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <div class="input-group-text"><i class="bi bi-lock-fill"></i></div>
                                            <input type="password" class="form-control" placeholder="Enter Password">
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <a href="signin" class="text-primary">Already have an account?</a>
                                    </div>

<!--                                    <div class="col-sm-6">-->
<!--                                        <a href="#" class="float-end text-primary">Forgot Password?</a>-->
<!--                                    </div>-->

                                    <div class="col-sm-6">
                                        <button class="btn btn-primary px-4 float-end mt-4">Sign up</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS -->
<script type="application/javascript" src="javascripts/singup.js"></script>
</body>
</html>